{
	"CFBundleShortVersionString" = "1.0";
	CFBundleIdentifier = "com.darklinden.padmgr";
	"CFBundleInfoDictionaryVersion" = "6.0";
	CFBundleExecutable = PadMgrBash;
	CFBundleIcons = {
		CFBundlePrimaryIcon = {
			CFBundleIconFiles = (
				"icon.png",
			);
			UIPrerenderedIcon = YES;
		};
	};
	CFBundlePackageType = APPL;
	CFBundleSignature = "????";
	"CFBundleSupportedPlatforms" = (
		iPhoneOS,
	);
	CFBundleVersion = "1.0.5";
	DTPlatformName = iphoneos;
	DTSDKName = "iphoneos3.0";
	LSRequiresIPhoneOS = 1;
	MinimumOSVersion = "7.0";
	UIStatusBarHidden = YES;
}